[submodule "gender_model/genderPredictor"]
    path = gender_model/genderPredictor
    url = https://github.com/sholiday/genderPredictor.git
    ignore = dirty
[submodule "apis/alchemyapi_python"]
    path = apis/alchemyapi_python
    url = https://github.com/AlchemyAPI/alchemyapi_python.git
    ignore = dirty
