# File types
*.pyc
*.py[cod]
.ipynb_checkpoints
.DS_Store

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# API Keys (This is secret so it should not go in the git repo!!!)
alchemy_api_key.txt
klangoo_api_key.txt
genderize_api_key.txt
postgres.txt

# Testing file types
*DONOTCOMMIT.ipynb
